body{
	text-align: center;
	font-family: 'Poltawski Nowy', serif;
background: #007991;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #78ffd6, #007991);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #78ffd6, #007991); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

ul{
	text-align: left;}

h1{
	color: green;
	font-family: arial}
h2{color: darkblue;}

h4{
	color : darkblue;
	font-family: 'Poltawski Nowy' ;
}


.frame {
	background: beige;
	border: dashed	10px darkblue;
	border-radius: 30px;
	padding: 50px;
	margin: 50px;
	box-shadow: 10px 10px 10px darkblue;
}

.frame1 {
	background: #A9907E
;
	border: dashed	10px whitesmoke;
	border-radius: 30px;
	padding: 50px;
	margin: 50px;
	box-shadow: 10px 10px 10px #A9907E
;}

.avatar { 
width: 250px;
height: 250px;
border-radius: 50%;
object-fit: cover;
box-shadow: 10px 10px 10px;
}

.galery{
	display: flex; 
	justify-content: space-around;
	height:300px;
	background: whitesmoke;
	align-items: center;
}

.frame4 {
	background: beige;
	border: 10px blue;
	border-radius: 30px;
	padding: 50px;
	margin: 50px;
	box-shadow: 10px 10px 10px lightgray;
}

.map {
	display: flex;
	justify-content: sapce-around;
	background : lightgray;
}

.link {
	margin-right: 30px;
}

.logo { 

width: : 100px ;
height: 100px ;
border-radius: 50%;
overflow: hidden;
object-fit: cover;

}

.mynavbar { 
	display: flex;
	justify-content: space-between;
	background: beige;
	border: 20px blue;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	box-shadow: 10px 10px 10px lightgray;
}

 
